<div class="">
  <div class="utility-bar utility-bar-inverse utility-bar-static-top noindex">
    <div class="utility-bar-inner">
      <div class="container"></div>
    </div>
  </div>
</div>
<app-top-nav></app-top-nav>


<div class="ns-body-wide fullwidth ns-title-wide qtr-right-rail standard">
  <div class="ns-outer-control">
    <div class="titleBar title-bar">
      <div class="ns-title-bar standard">
        <div class="h1">
          <p class="title-text">Page title: {{ pageTitle }}</p>
          <!-- <pageTitle [pageTitle]='pageTitle'></pageTitle> -->
        </div>
      </div>
    </div>
  </div>
</div>
