<div class="header">
  <div class="ns-header-wide">
    <div class="ns-header container">
      <div class="row">
        <div class="span2"><img class="logo" src="./assets/img/af-logo-transparent.png" alt=""></div>
        <div class="span10">
          <div class="row">
            <div class="span10">
              <ul class="ns-utility-links nav pull-right" style="padding-bottom: 40px;"></ul>
            </div>
            <div class="span10">
              <ul class="nav site-nav pull-right">
                <li class="menu-large"><a routerLink="/" class="subMenuEmpty"><span>Get started</span></a></li>
                <li class="menu-large"><a routerLink="/testimonials" class="subMenuEmpty"><span>Testimonials</span></a></li>
                <li class="menu-large"><a routerLink="/" class="subMenuEmpty"><span>Choose your contribution</span></a></li>
                <li class="menu-large"><a routerLink="/" class="subMenuEmpty"><span>Your company plan</span></a></li>
                <li class="menu-large"><a routerLink="/enroll-form" class="subMenuEmpty"><span>The enrollment process</span></a></li>
                <li class="menu-large"><a routerLink="/getting-started" class="subMenuEmpty"><span>Blank page</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span12"><hr></div>
      </div>
    </div>
  </div>
</div>
