$brand-font-stack: 'AvenirNextLTW01-Regular', sans-serif;
$brand-font-stack-bold: 'Avenir Next LT W01 Demi', sans-serif;
$brand-font-stack-condensed: 'AvenirNextLTW01-Condens_721299', sans-serif;
$brand-font-stack-condensed-bold: 'AvenirNextLTW01-DemiCn', sans-serif;

$capital-blue: #009ADF;
$spend-and-conserve-green: #85B54E;

$cg-blue-80: #33AEE5;
$cg-blue-60: #66C2EC;
$cg-blue-40: #99D7F2;
$cg-blue-20: #CCEBF9;

$cg-black-80: #333;
$cg-black-60: #666;
$cg-black-40: #999;
$cg-black-20: #ccc;

$cg-red: #D25957;
$cg-dark-red: #993334;

$light-grey-background: #F8F8F8;

$cg-black-gradient: #4D4D4D, #333333;

$light-grey-line: #EAEAEC;
