.page {
  width: 21cm;
  min-height: 29.7cm;
  padding: 2cm;
  margin: 1cm auto;
  border: 1px #D3D3D3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.subpage {
  padding: 1cm;
  border: 5px red solid;
  height: 256mm;
  outline: 2cm #FFEAEA solid;
}

.blank {
  display: none;
}
@page {
  size: A4;
  margin: 0;
}

@media print {
  .page {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }
}

#incomming-rollover-request {
  background-color: #FFF;
  border-radius: 2px;
  box-shadow: 0px 2px 1px 0px #DDD;
  box-sizing: border-box;
}

#form-participant-info {

}

#plan-name {
  width: 18em;
}

#plan-id {
  width: 8em;
}

.header h2 {
  text-align: right;
}
.section {
  font-size: 1.5em;
}

.section span {
  font-size: 2em;
}

hr {
  color: solid black 2px;
  marign-top: 2em;
}

h3 {
  margin: 0;
}

input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #CCC;
  color: #555;
  box-sizing: border-box;
  font-family: 'Arvo';
  font-size: 18px;
  padding: 5px 0px;
  width: 200px;
  left:auto;
  display: inline-block;
  width: 6em;
  position: inherit;
  top: -3em;
}

input::-webkit-input-placeholder {
  color: #AAA;
}

input:focus::-webkit-input-placeholder {
  color: dodgerblue;
}

label {
    display: inline-block;
}
