.right-rail {
  .contribution {
    text-align: center;
    background-color: #ccebf9;
    border: 1px solid #009adf;
    padding: 3em 1em 2em 1em;
    h3 {
      span {
        font-size: 5em;
      }
    }
  }
  button {
    border: none;
    color: white;
    padding: .75em;
  }
}
