<div class="ns-body container">
  <div class="row">
    <div class="span9">
      <div class="ns-abstract-title">
        <div class="video-info descriptor">
          <div class="video-eyebrow">
            <span>INVESTMENT INSIGHTS </span> &nbsp;|&nbsp;
            <div class="fragment parbase">
              January 2016
            </div> &nbsp;|&nbsp; FEATURING Joanna F. Jonsson
          </div>
        </div>
        <h2> <a href="/individual/insights/investment-insights/china-volatility-not-2008.html">China, Volatility and Why This Is Not 2008 </a><span class="disclosure-references-list"></span> </h2>
        <div class="disclosure-jumplink-class" data-jumplink-type="component" data-jumplink-id="d5f8c235-3221-418f-adc3-3f52a9d8e3fc"></div>
        <div class="image-video">
          <a data-modal-title="China, Volatility and Why This Is Not 2008" href="/individual/insights/investment-insights/china-volatility-not-2008/_jcr_content/articlevideos7.modal.html" data-alternate-href="/individual/insights/investment-insights/china-volatility-not-2008.html"
            data-target="#modal_7" data-behavior="modal">
            <div class="video-btn-container">
              <div class="video-icon-lg"></div>
            </div> <img src="https://americanfunds.scene7.com/is/image/americanfunds/2016-01-28T15-27-00_china-volatility-not-2008?fit=constrain,1&amp;wid=480&amp;hei=270"> </a>
        </div>
        <div class="fragment parbase">
          <div class="summary parbase richtext text">
            <div class="ns-rte ">
              <div class="disclosure-jumplink-class" data-jumplink-type="component" data-jumplink-id="c12c59f1-9de5-47b3-8e3f-be3a810beb2d"></div>
              <div>
                <p>Portfolio manager Jody Jonsson discusses the role of China’s decelerating GDP and overvalued currency in the latest market volatility.</p>
              </div>
            </div>
          </div>
        </div>
        <p> <a data-modal-title="China, Volatility and Why This Is Not 2008" href="/individual/insights/investment-insights/china-volatility-not-2008/_jcr_content/articlevideos7.modal.html" data-alternate-href="/individual/insights/investment-insights/china-volatility-not-2008.html"
            class="watchVideo" lang="en" data-target="#modal_8" data-behavior="modal">Watch Video (3:32) </a> </p>
        <div class="content-utility">
          <div class="ns-content-utility active hr" id="ns-content-utility2">
            <ul>
              <li><a href="/individual/insights/investment-insights/china-volatility-not-2008.html#transcript" data-link-type="transcript" class="transcript" lang="en"><span class="icon"></span>Transcript</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="span3 right-rail" ng-hide="true">
      <div class="reference">
        <div class="ns-link-list-component   ">
          <hr class="thick">
          <div class="title">
            <h3 class="small">Related Topics</h3>
          </div>
          <ul class="link-list  ">
            <li>
              <ul>
                <li> <a href="/individual/insights/currencies.html">Currencies</a> </li>
                <li> <a href="/individual/insights/emerging-markets.html">Emerging Markets</a> </li>
                <li> <a href="/individual/insights/global.html">Global</a> </li>
              </ul>
            </li>
          </ul>
          <!-- bottom link -->
        </div>
      </div>
    </div>
  </div>
</div>



<div class="ns-article-abstract clearfix investor" data-contentset-code="article-overview-abstract:article-video-fragment:insights:china-volatility-not-2008">
  <script language="javascript" src="https://americanfunds.scene7.com/s7sdk/2.9/js/s7sdk/utils/Utils.js"></script>
  <script language="javascript">
    s7sdk.Util.lib.include('s7sdk.common.Button');
    s7sdk.Util.lib.include('s7sdk.common.Container');
    s7sdk.Util.lib.include('s7sdk.event.Event');
    s7sdk.Util.lib.include('s7sdk.video.VideoControls');
    s7sdk.Util.lib.include('s7sdk.video.VideoPlayer');
    s7sdk.Util.lib.include('s7sdk.common.ControlBar');
    s7sdk.Util.lib.include('s7sdk.set.MediaSet');
  </script>
</div>
